$light_brown: #c7b299;
$main_grey: #555555;
$light_grey: #f1eee9;
$text-grey: #8c8c8c;
$realize_bg: #fbfaf8;
$btn_col: #998675;
$project_item-bg: #fbfaf8;
$deep_brown: #362f2d;

$day_bg: #363636;
$month_bg: #252525;

$month-hover_bg: #a48d72;

$footer_bg: #191919;
$footer_date-color: #363636;
$footer_bottom-bg: #111111;

